@charset "utf-8";
/* CSS Document */

div{width:840px; margin:0 auto; overflow:hidden;}
p{	width:398px; 
	height:198px; border:1px solid #000;
	margin:20px 10px; float:left;
	background:url(../images/pic_01.jpg) no-repeat;}
.box04{
	/* background-position:270px 120px; */
	background-position: right 52px bottom 52px;
}