@charset "UTF-8";

 /* article{} */
/* rem:  */
 article>h1{
   margin-bottom:5rem;
   /* font-size:3.72222222222222222222em;  67px */
   font-size:4rem;
   color:#fff;
   line-height:8rem;  /* 150px */
   text-align: center;
   background-color: #333;
   font-weight: bold;
 }

 article>div{
   width:935px;
   margin:0 auto;
   display:flex ;
   flex-wrap: wrap;
   justify-content: space-around;
 }
 article>div>figure{
   /* width:295px; */
   /* width:31.55080213903743%; */
   margin-bottom:18px;
   background-color: #fff;
   width:calc(33.3333333% - 1rem);
}
article>div>figure>figcaption{
  /* padding:36px 26px 20px; */
  padding:2em 1.4444em 1.11111em;
}
/* article>div>figure dl{} */
article>div>figure dl>dt{
  /* font-size:20px; */
  font-size:1.111111111111em;
  font-weight:bold;
  /* margin-bottom: 30px; */
  margin-bottom: 1.66666666666667em;
  letter-spacing: -0.5px;
}
article>div>figure dl>dd{
  line-height:1.66666666666666667em;
  margin-bottom:0.5555555555556em;
}
 

article>div>figure>img{
   width:100%;
 }









  /*  */