@charset "utf-8";

nav{
    background-color: #333;
    margin-bottom:150px;
}

nav#gnb01{
    margin-top: 50px;
    background-color: #333;
}
nav#gnb01>ul{
    width:800px;
    margin:0 auto;
    background-color: #aaa;
    display: flex;
    /* flex-direction: row;
    flex-wrap:nowrap; */
    /* align-items: stretch; */
    /* justify-content: space-around; */
    /* justify-content: flex-start; */
}
nav#gnb01>ul>li{
    flex-grow: 1;
}
nav#gnb01>ul>li>a{
    display: block;
    font:bold 16px/34px Arial sans-serif;
    color:white;
    text-align: center;
}
nav#gnb01>ul>li>a:hover{
    background-color: orange;
    color:rgb(190, 26, 26);
}



nav#gnb02>ul{
    width:800px;
    margin:0 auto;
    display: flex;
}
nav#gnb02>ul>li{
    flex-grow: 1;
    position: relative;
}
/* 메인메뉴li에 마우스가 올라가면 서브ul */
nav#gnb02>ul>li:hover>ul{
    display: block;
}
nav#gnb02>ul>li>ul{
    position:absolute;
    top:34px;
    left:0;
    width:100%;
    display: none;
    padding-top:20px;
}
nav#gnb02>ul>li>ul>li{
    border-bottom: 1px solid #fff;
}
nav#gnb02>ul>li>ul>li>a{
    display: block;
    font:bold 16px/34px Arial sans-serif;
    text-align: center;
    background-color: #666;
    color:#fff;
   
}

nav#gnb02>ul>li>a{
    display: block;
    font:bold 16px/34px sans-serif;
    text-align: center;
    color:#fff;
}

nav#gnb02>ul>li>a:hover{
    background-color: orange;
    color:#fff;
}

