@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body>div {
  width: 500px;
  margin: 0 auto;
}

div>h1 {
  width: 500px;
  margin: 0 auto 10px;
  font-size: 20px;
  color: #666;
}

div>section {
  margin-bottom: 25px;
  display: flex;
}
section>.box1>div:first-child{
  width:auto;
}
section.box1 {
  width: 500px;
  background-color: #bacd44;
  flex-direction: row;
  flex-wrap: nowrap;
}

section.box2 {
  width: 500px;
  background-color: #3deeff;
  flex-direction: row-reverse;
}

section.box3 {
  width: 500px;
  background-color: #3deeff;
  flex-direction: column;
}

section.box4 {
  width: 500px;
  background-color: #3deeff;
  flex-direction: column-reverse;
}

section>div {
  width: 100px;
  line-height: 45px;
  text-align: center;
  font-size: 20px;
  color: #fff;
}

section>div:nth-child(1) {
  background-color: pink;
}

section>div:nth-child(2) {
  background-color: skyblue;
}

section>div:nth-child(3) {
  background-color: brown;
}
